@import "../../../common/sass/_functions.scss";
@import "./header.scss";

#choose_logo{
	padding-top: pxToRem(56px);
	.logolist{
		margin-left: pxToRem(70px);
		overflow: hidden;
		.logo{
			background: url('/img/logobackground.png');
			background-repeat: no-repeat;
			width: pxToRem(156px);
			height: pxToRem(156px);
			background-size: 100%;
			margin: 0 pxToRem(65px) pxToRem(35px) 0;
			text-align: center;
			float: left;
			img {
				margin-top: pxToRem(16px);
				width: pxToRem(124px);
				height: pxToRem(125px);
			}
		}
	}
}