@charset 'UTF-8';

@function px2rem($px)
{
    @return $px / 75 * 1rem;
}

.ECar_mModal
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .ECar_mModal_mask
    {
        position: absolute;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, .8);
    }
    .ECar_mModal_container
    {
        position: absolute;
        top: 50%;
        left: 50%;

        display: flex;
        flex-direction: column;

        width: px2rem(690);
        height: px2rem(300);
        margin-top: px2rem(-300/2);
        margin-left: px2rem(-690/2);
        padding: px2rem(50) px2rem(30);

        border-radius: px2rem(10);
        background-color: #fff;

        align-content: flex-start;
        align-items: center;
    }
}
.ECar_mModal_container
{
    .ECar_mModal_title
    {
        margin-bottom: px2rem(45);
    }
    .mModal_title_hidden
    {
        display: none;
    }
    .ECar_mModal_content
    {
        font-size: px2rem(36);

        width: 100%;
        margin-bottom: px2rem(45);

        text-align: center;

        color: #333;
    }
}
.ECar_mModal_title
{
    h3
    {
        font-size: px2rem(36);
        font-weight: normal;

        color: #333;
    }
}
.ECar_mModal_button
{
    button
    {
        font-size: px2rem(30);

        width: px2rem(300);
        height: px2rem(75);

        text-align: center;

        border: none;
        border-radius: px2rem(5);
    }
    .cancel
    {
        margin-right: px2rem(30);

        color: #03a9f4;
        border: 1px solid #03a9f4;
        background-color: #fff;
    }
    .confirm
    {
        color: #fff;
        background-color: #03a9f4;
    }
}
