@import "../../../common/sass/_functions.scss";
body {
    background: url('/img/background.jpg');
    background-repeat: repeat;
    background-size: pxToRem(120px);
}
header {
    background: url('/img/header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    .title {
        font-size: pxToRem(24px);
        padding-top: pxToRem(250px);
        .title_img {
            background: url('/img/titleline.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            text-align: center;
            span {
                font-size: pxToRem(24px);
                color: #ffef6a;
                display: inline-block;
                height: pxToRem(48px);
                padding: 0 pxToRem(32px);
                border-radius: pxToRem(20px);
                line-height: pxToRem(48px);
                background-color: #2f2f2f;
            }
        }
    }
}