@charset 'utf-8';
@charset 'utf-8';
@import '../common/_functions.scss';
@import '../common/_variables.scss';

//地址选择
.select_area
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    .select_msak
    {
        z-index: 10;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, .5);
    }
    .select_container
    {
        position: absolute;
        z-index: 10;
        right: 0;
        bottom: 0;
        left: 0;

        height: px2rem(770);

        background-color: $_fff;
    }
}
.select_container
{
    .select_header
    {
        font-size: px2rem(30);

        height: px2rem(80);
        padding: px2rem(25) px2rem(30);

        text-align: center;

        color: $_666;
    }
    .select_result
    {
        overflow: hidden;

        height: px2rem(40);
    }
    .select_list
    {
        overflow: hidden;

        margin-top: -1px;
        padding: px2rem(35) 0 px2rem(35) px2rem(25);

        border-top: 1px solid $_ccc;

        -webkit-overflow-scrolling: touch;
    }
}
.select_header
{
    i
    {
        float: right;

        transform: scale(2.5);
    }
}
.select_result
{
    li
    {
        font-size: px2rem(26);

        float: left;

        height: px2rem(39);
        margin: 0 px2rem(25) px2rem(15);

        color: $_333;
        border-bottom: 2px solid $_fff;
        a
        {
            text-decoration: none;

            color: $_333;
        }
    }
    .current
    {
        color: $_03a9f4;
        border-bottom-color: currentColor;
        a
        {
            color: $_03a9f4;
        }
    }
}
.select_list
{
    ul
    {
        display: none;
        overflow-y: scroll;

        height: px2rem(625);
    }
    .active
    {
        display: block;
    }
    li
    {
        font-size: px2rem(26);
        line-height: px2rem(50);

        padding-bottom: px2rem(30);

        color: $_333;
        p
        {
            max-height: 100%;
        }
    }
    .current
    {
        p
        {
            color: $_03a9f4;
            &::after
            {
                margin-left: px2rem(20);

                content: '√';
                transform: scale(1.5);

                color: $_03a9f4;
            }
        }
    }
}
