@charset "UTF-8";

/*colors for background*/
$c_back1: #333333;
$c_back2: rgba(51,51,51,0.5);
$c_back3: #ff6600;
$c_back4: #ff9600;
$c_back5: #f1f1f1;
$c_back6: #cccccc;
$c_back7: #ffffff;

/*colors for font*/
$c_font1: #333333;
$c_font2: #ff0000;
$c_font3: #ffffff;
$c_font4: #999999;
$c_font5: #666666;
$c_font6: #ff8338;

/*colors for border*/
$c_border1: #c8c7cc;
$c_border2: #dedede;

