@import "./_functions.scss";

/* #seckill {
	.goods_imgs{
		img{}
	}
	.goods_info{
		.goods_name{
			height: pxToRem(19px);
			line-height: pxToRem(19px);
			font-size: pxToRem(14px);
		}
		.goods_price{
			font-size: pxToRem(16px);
			.after_discount{
				color: #ff0000;
				height: pxToRem(18px);
				line-height: pxToRem(18px);
				font-size: pxToRem(16px);
			}
			.discount{
				height: pxToRem(12px);
				line-height: pxToRem(12px);
				font-size: pxToRem(10px);
				background-color: #ff6600;
			}
			.mail{
				background-color: #ff9600;
				color: #fff;
				font-size: pxToRem(10px);
				height: pxToRem(12px);
				line-height: pxToRem(12px);
			}
		}
	}
	.goods_count{
		font-size: pxToRem(12px);
		.sold{
			line-height: pxToRem(14px);
			font-size: pxToRem(12px);
			em{
				color: #ff8338;
			}
		}
	}
	.goods_limit{
		font-size: pxToRem(14px);
		span{
			color: #000;
			font-size: pxToRem(14px);
			line-height: pxToRem(16px);
		}
		span.minus, span.plus{
			text-align: center;
			color: #999999;
			display: inline-block;
			width: pxToRem(22px);
			height: pxToRem(22px);
			background-color: #f1f1f1;
		}
	}
	.goods_detail{
		.title{
			line-height: pxToRem(16px);
			font-size: pxToRem(14px);
		}
		.detailtext{
			p{
				font-size: pxToRem(14px);
				line-height: pxToRem(24px);
			}
		}
	}
} */