div.category
    div.masking
    div.float-tier
        div.comb
            a(href="javascript:;").main.current 汽车服务
            div.sub
                a(href="javascript:;").item 保养
                a(href="javascript:;").item 美容
                a(href="javascript:;").item 养护
                a(href="javascript:;").item 车务
        div.comb
            a(href="javascript:;").main 电子券
            div.sub
                a(href="javascript:;").item 保养
                a(href="javascript:;").item 美容啊
                a(href="javascript:;").item 养护
                a(href="javascript:;").item 车务车务
                a(href="javascript:;").item 养护
                a(href="javascript:;").item 车务车务车务车务车务
                a(href="javascript:;").item 养护
                a(href="javascript:;").item 车务
        div.comb
            a(href="javascript:;").main 数码、手机、电子
            div.sub
                a(href="javascript:;").item 保养
                a(href="javascript:;").item 美容
        div.comb
            a(href="javascript:;").main 家居、家装
            div.sub
                a(href="javascript:;").item 保养
                a(href="javascript:;").item 美容
        div.comb
            a(href="javascript:;").main 个护化妆、清洁用品
        div.comb
            a(href="javascript:;").main 电脑、箱包、办公
            div.sub
                a(href="javascript:;").item 保养
                a(href="javascript:;").item 美容
        div.comb
            a(href="javascript:;").main 厨房用具、水具酒具
            div.sub
                a(href="javascript:;").item 保养
                a(href="javascript:;").item 美容
        div.comb
            a(href="javascript:;").main 小电器、运动户外
            div.sub
                a(href="javascript:;").item 保养
                a(href="javascript:;").item 美容