div.slide
    span.c-line.left
    span.title 向上滑动，查看商品详情
    span.c-line.right
div.product-detail
  ul.nav-tabs
    li.active 图文详情 
    li 购买评价
  div.swiper-container#swiperContainer
    div.swiper-wrapper
        div.swiper-slide 
          div.product-detail-one
             ul.dtp-ul
               li
                 label CPU品牌
                 span 联发科联发科联发科联发科联发科联发科联发科联发科联发科联发科联发科联发科联发科
               li
                 label CPU品牌
                 span 联发科
               li
                 label CPU品牌
                 span 联发科
               li
                 label CPU品牌
                 span 联发科
               li
                 label CPU品牌
                 span 联发科
               li
                 label CPU品牌
                 span 联发科
               li
                 label CPU品牌
                 span 联发科
               li
                 label CPU品牌
                 span 联发科           
             img(src="../img/ban.jpg")
        div.swiper-slide     
          div.product-detail-two
            p.no-evaluate.hide 暂无评价，快来抢沙发
            div.user.flex_pjustify.flex_1
              p.avatars
                 img(src="../img/face.jpg" width="54" height="54").user-img
                 //span.user-img-none
                 span.user-name Deat**
              p.time 2016-04-03 22:04:26
            div.evaluate    
              p.evaluate-con 包装严实 发货很快 酸酸甜甜味道不错 希望有效果
              div.reply
                span.reply-tit 车享回复：
                p.reply-text 您好！小米4标配一个充电头，一根安卓通用数据线。将数会有提示。感谢您对车享的支持！祝您购物愉快！ 










