div(href="javascript:void(0);" showType="false").menu-wapper.animated
    div.menu
        div.tag.js_index
            i.menu_icon.menu_icon_index
            span.menu_title 首页
        div.tag.js_category
            i.menu_icon.menu_icon_category
            span.menu_title 分类
        a(href="javascript:void(0);").tag.js_cart
            i.menu_icon.menu_icon_cart
            span.menu_title 购物车
        a(href="javascript:void(0);").tag.js_mine
            i.menu_icon.menu_icon_mine
            span.menu_title 我的
a(href="javascript:void(0);").menu-btn.js_menu_btn