div.detail_head
	div.goodport#slides
		ul.swiper-wrapper
			li.swiper-slide
				img(src="../img/head.jpg")
			li.swiper-slide
				img(src="../img/head.jpg")
			li.swiper-slide
				img(src="../img/head.jpg")
		div.swiper-pagination.swiper-pagination-fraction
		i.return.detail_icon
		i.share.detail_icon
	div.title 
		|Avene雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平衡洁肤凝胶无皂基平衡洁肤凝胶
	div.title_explain 
		|商品卖点or描述
	div.price
		span.cash
			span.cash_num 199
			em 元
			em.add +
			span.point_num 2500
			em 积分
		span.market
			em 市场价
			span.market_num 345
				em 元
	div.head_tip
		i.warm_icon !
		|此商品除网上支付金额外，到店消费时需额外支付
		span.tip_num 200
			em 元
	div.code
		|商品编码：
		span.code_num 1234567890