div.promote.h_box.h_control
  div.pro-con
   lable.pro-tit 促销
   div
    div.pro-txt
      span.tip-text 优惠
      div.sale-txt
        span 328大促
        span 购买1-9,999件时享受优惠
        span 328大促享受5折
    div.suit.flex_pjustify
      p
        span.tip-text 优惠套装
        span 最高省
          em 70.00元
      p 共12套
    div.set
      div.set-con
        p.s-one 套餐1 
        ul.s-list
          li.s-item
            a(href="javascript:;")
              img(src="../img/pic.jpg").pic
          li.s-item.add
            span +
          li.s-item
            a(href="javascript:;")
              img(src="../img/pic.jpg").pic
      div.set-con
        p.s-one 套餐2 
        ul.s-list
          li.s-item
            a(href="javascript:;")
              img(src="../img/pic.jpg").pic
          li.s-item.add
            span +
          li.s-item
            a(href="javascript:;")
              img(src="../img/pic.jpg").pic
      div.set-con
        p.s-one 套餐3 
        ul.s-list
          li.s-item
            a(href="javascript:;")
              img(src="../img/pic.jpg").pic
          li.s-item.add
            span +
          li.s-item
            a(href="javascript:;")
              img(src="../img/pic.jpg").pic        
  i.float_dot.up                   
       
      
       
          
  

