div.detail_head
	div.goodport#slides
		ul.swiper-wrapper
			li.swiper-slide
				img(src="../img/head.jpg")
			li.swiper-slide
				img(src="../img/head.jpg")
			li.swiper-slide 
				img(src="../img/head.jpg")
		div.swiper-pagination.swiper-pagination-fraction
		i.return.detail_icon
		i.share.detail_icon
	div.count_down
		span.count_down_title 距离活动结束
		div.count_down_bg
			span.day 7
			span.hour 23
			span.minute 59
			span.second 59
	div.title 
		|Avene雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平衡洁肤凝胶无皂基平衡洁肤凝胶
	div.title_explain 
		|商品卖点or描述
	div.price
		span.cash
			span.cash_num 199
			em 元
			em.add +
			span.point_num 2500
			em 积分
		span.market
			em 市场价
			span.market_num 345
				em 元