div.select_block.h_control
	div.h_box
		label.flex_1.select_txt 已选
		div.flex_1.goodName Avene雅漾 无皂基平衡洁肤凝胶
			span.goodnum 1
			em 件
	div.h_box
		label.flex_1 颜色
		ul.flex_1 
			li.select.select_active 红色
			li.select 蓝色
			li.select.lose 黄色
	div.h_box
		label.flex_1 尺寸
		ul.flex_1 
			li.select XL
	div.h_box
		label.flex_1 数量
		div.btn_number
			a(href="javascript:;", data-btn-type="reduce").disabled.btn_reduce -
			input(value="1", type="text", maxLength="2").good_number#good_number
			a(href="javascript:;", data-btn-type="add").btn_add +
	i.float_dot.up
div.select_block.distribution_info
	div.h_box
		label.flex_1 区域
		div.flex_1#selectCity.pd-r.txt-h 全国配送
		div.fr#findCity 查询信息
	div.h_box.freight
		label.flex_1 服务
		div.flex_1.pd-r.txt-h 
			em 全国包邮
			p 由京东发货并提供售后服务。
			p 订单满99元包邮，低于99元收取每单6元运费。
		div.fr 查询门店信息
	div.h_box.select_tips
		label.flex_1 提示
		div.flex_1 该商品由【京东】提供，售后服务参照京东售后标准，京东客服：400-606-5500