extends header.jade

block pagetitle
    title 个人报名

block pagehead
    header
        div.title
            div.title_img
                span 个人报名
block content
    div.formdata
        input(type="text")
