doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1')
        style
            include ../../../common/css/reset.css
        block pagetitle
    body
        block pagehead
        block content
        script
            include ../../../common/js/remset.js